Assignment 3

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

Question 1:

** What is 7 to the power of 4?**

In [ ]:
base = 7
exponent = 4

result = pow(base, exponent)

print("Answer = " + str(result))

Answer = 2401

Question 2:

** Split this string:**

s = "Hi there, Iam Saran!"

into a list.

In [ ]:
s="Hi there, Iam Saran"
print("Answer = "+str(s.split()))

Answer = ['Hi', 'there,', 'Iam', 'Saran']

Question 3: 

** Given the variables:**

planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter="The diameter of {} is 12742 kilometers".format(planet)
print("Answer = "+str(diameter))

Answer = The diameter of Earth is 12742 kilometers

Question 4: 

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print("Answer = "+str(lst[3][1][2]))

Answer = ['hello']

Question 5:

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print("Answer = "+str(d["k1"][3]["tricky"][3]["target"][3]))

Answer = hello

Question 6:

** What is the main difference between a tuple and a list? **

  Lists:

  Lists are mutable
  
  The implication of iterations is Time-consuming	
  	Lists consume more memory	\
  
  The list is better for performing operations, such     as    insertion and deletion.
  
  Tuples :

Tuples are immutable
  Tuple consumes less memory as compared to the list

  The implication of iterations is comparatively Faster

  Tuple data type is appropriate for accessing the       elements

Question 7:
  
** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [ ]:
def domainGet(email):
    print("Your domain is: " + email.split('@')[-1])

email = input("Please enter your email: >")
domainGet(email)

Please enter your email: >user@domain.com
Your domain is: domain.com

Question 8 :

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

In [ ]:
st = "I am with my dog in the beach"
findDog(st)

True

Question 9 :

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
value = "My moms's dogs won't eat dry dog food";
print("Count of word Dog in given string ")
(countdogs(value))
def countdogs(value):
    count = 0
    for word in value.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            
    print(count)

Count of word Dog in given string
2

Question 10 :

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(91,False)

speed="Your speed is more than 81"
caught_speeding(81,True)

'Small Ticket'

Question 11 :

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee_names = ["Saran", "Sanjay", "Ranjith", "Sanjeev", "Madhav"]
employee_salaries = {}
for employee in employee_names:
    while True: # Input validation loop
        try:
            employee_salaries[employee] = int(input(f"Enter {employee}'s salary: ")) 
            break
        except ValueError:
            print("Invalid input")
    print(employee_salaries)
    total = sum(employee_salaries.values())
    print(total)

Enter Saran's salary: 43000
{'Saran': 43000}
43000
Enter Sanjay's salary: 34000
{'Saran': 43000, 'Sanjay': 34000}
77000
Enter Ranjith's salary: 23000
{'Saran': 43000, 'Sanjay': 34000, 'Ranjith': 23000}
100000
Enter Sanjeev's salary: 23000
{'Saran': 43000, 'Sanjay': 34000, 'Ranjith': 23000, 'Sanjeev': 23000}
123000
Enter Madhav's salary: 52000
{'Saran': 43000, 'Sanjay': 34000, 'Ranjith': 23000, 'Sanjeev': 23000, 'Madhav': 52000}
175000

Question 12 :

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [ ]:
e1={"Employeeid":101,
    "Employeename":'Saran', 
    "Basicpay":25000}
e2={"DeptName":'CSE',  
    "DeptId":301}

print({**e1, **e2})

{'Employeeid': 101, 'Employeename': 'Saran', 'Basicpay': 25000, 'DeptName': 'CSE', 'DeptId': 301}